
:root{
    --green:#e63b3b;
    --dark: #c9b1b1;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}

h1, h3{
    color: var(--dark);
}

*::selection{
    background:var(--green);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background: var(--dark);
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

section{
    min-height: 100vh;
    padding:1rem 10%;
}

.btn{
    font-size: 1.7rem;
    padding:1rem 10rem;
    border-radius: 5rem;
    margin-top: 2rem;
    background:none;
    color:var(--dark);
    cursor: pointer;
    border:.2rem solid var(--green);
}

.btn:hover{
    background:var(--green);
    color: white;
}


.heading span{
    color:var(---green);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    width:100%;
    background:#fff;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
}

header .logo img{
    height:5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 3rem;
}

header .navbar ul li a{
    font-size: 1.7rem;
    color:var(--dark);
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--green);
}

/* burger menu */

header #burger-menu{
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 10px;
    overflow: visible;
    position: relative;
    z-index:2;
    display: none;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--green);
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 30px;
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 30px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 30px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 30px;
  background-color: white;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 30px;
  background-color: white;
}
#burger-menu.close span:after {
  top: 0px;
  left:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;

}

#menu{
  z-index:1;
  min-width:50%;
  min-height:100%;
  position: fixed;
  top:0;
  left:50%;
  visibility: hidden;
  opacity: 0;
  text-align: right;
  padding-top:3rem;
  padding-right: 5rem;
  transition: all 0.3s ease-in-out;
  
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background: var(--green);
}

#menu li{
  list-style:none;
}

#menu a{
  color:#fff;
  display:block;
  font-size: 16px;
  margin-bottom:30px;
  text-decoration:none;
}

#menu a:hover {
font-size: 24px;
}

/* home section */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
    overflow: hidden;
}

.home .image{
    flex:1 1 60rem;  
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 30rem;
}

.home .content h3{
    color: var(--dark);
    font-size: 6rem;
}

.home .content h3 span {
    color:var(--green);
}

/* quote section */

.quote-block {
    background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(https://images.unsplash.com/photo-1595295333158-4742f28fbd85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 25vh;
    padding:1rem 10%;
    padding-top: 8.5rem;
}

.quote {
    display: flex;
    justify-content: center;
}

.quote-text {
    font-size: 2.8rem;
    line-height: 2;
    font-weight: 500;
    text-align: center;
    padding: 0 10% 5%;
    color:var(--dark);
}

/* about section */

.about{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.about .image{
    flex:1 1 40rem;
    height:50rem;
    background:url(https://images.unsplash.com/photo-1555949258-eb67b1ef0ceb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80), no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    border-radius: 1rem;
}

.about .content{
    flex:1 1 40rem;
    padding-left: 3rem;
}

.about .content h3{
    font-size: 4rem;
}


.about .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--dark);
    padding:1rem 0;
}

.about-items {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.about-items .item {
    width: 30%;
}

.about-items .item h4 {
    font-size: 2.5rem;
    font-weight: 300;
}

.about-items .item  .img-about {
    width: 30%;
}

/* menu section */

.heading{
    text-align: center;
    font-size: 4rem;
    padding:0 .5rem;
    color:var(--dark);
    margin: 3rem 0;
} 

.menu{
    background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(https://images.unsplash.com/photo-1497802492746-aa584aa6ea22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.image-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.img-menu{
    width: 90%;
}

/* gallery section */

.container .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .image-container .image {
    height: 250px;
    width: 350px;
    border: 3px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
}

.container {
    position: relative;
    min-height: 100vh;
    margin: 3rem 0 8rem 0;
}

.container .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 5px;
    width: 50%;
    object-fit:cover ;
}

/* order section */

.order{
    background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.order .row{
    display: flex;
    background:#fff;
    margin:3rem 8rem;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: 1rem;
}

.order .row .image{
    flex:1 1 50%;
}

.order .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.order .row form{
    flex:1 1 50%;
    background:#fff;
    padding:2rem;
}

.order .row form .box{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.5rem;
    color:var(--dark);
    text-transform: none;
    background:#f0f0f0;
    width:100%;
}

.order .row form .box::placeholder{
    text-transform: capitalize;
}

/* footer section */

.footer{
    background:#ce9f9f;
    padding:1rem 10%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 15rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1.5rem 0;
    font-weight: normal;
    text-align: center;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    text-align: center;
    text-transform: none;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--green);
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--green);
}


.footer .credit{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom:1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:var(--dark);
}



/* media queries  */

@media all and (max-width:991px){

    html{
        font-size: 55%;
    }

    .home::before,
    .home::after{
        display: none;
    }
  
      .container .popup-image img {
        width: 90%;
    }


    .footer .box-container .box{
        margin:1rem;
    }

    .footer .box-container .box h3{
        font-size: 1.7rem;
    }
    
    .footer .box-container .box p{
        font-size: 1rem;
    }

.footer .credit{
    font-size: 1rem;
}
}

@media all and (max-width:768px){

    header #burger-menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        opacity: 0;
    }

    .home .content{
        text-align: center;
        margin-top: 10rem;
    }

    .home .content h3{
        font-size: 4.5rem;
    }
  
   .menu {
        min-height: 70vh;
    }

    .order .row .image{
        display: none;
    }

}

@media all and (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:1rem 5%;
        padding-top: 5.5rem;
    }

  

    .about .content{
        margin: 3rem 0;
    }

    .img-menu{
        width: 100%;
    }

    .order .row{
        margin:1rem 2rem;
    }
    
}